{% extends "base.html.twig" %}

{% block header %}{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path("login_check") }}" method="post">
        <label for="username">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
        <label for="password">Password</label>
        <input type="password" id="password" name="_password" class="form-control"/>
        <input type="submit" value="Entrar" class="btn-success"/>
        <input type="hidden" name="_target_path" value="/login_check"/>
    </form>
{% endblock %}