
<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">CATEGORIES</a>
    </div>
    {{ knp_menu_render('AppBundle:MenuBuilder:mainMenu') }}
</nav>
