<div class="social_network">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span>
</div>