<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('styles/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('styles/css/styles.min.css') }}" rel="stylesheet" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block header %}
            {{ render(controller('AppBundle:Default:categories')) }}
        {% endblock %}
        {% block adminMenu %}{% endblock %}
        {% block body %}{% endblock %}
        {% include "_footer.html.twig" %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
