<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="">Entradas</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Comentarios</a></li>
    </ul>
</div>
